---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---
<Header titulo='Navbar' itens={['/', '/sobreus']}></Header>
<Layout title="Site Para a minha Namorada.">
	<main>
		
	</main>
</Layout>

